.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    color: #fff;
}

img {
    width: 50px;
    height: 50px;
    background-color: none;
    border-radius: 50px;
    margin-right: 10px;
}

.navbar-left {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.navbar-title-container {
    position: relative;
    display: inline-block;
}

.tooltip {
    visibility: hidden;
    width: auto;
    background-color: blue;
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 8px;
    position: absolute;
    z-index: 1;
    left: 100%;
    bottom: 10%;
    transform: translateX(-50%);
    white-space: nowrap; 
    margin-bottom: 10px;
    opacity: 0;
    transition: opacity 0.3s
}

.navbar-title-container:hover .tooltip {
    visibility: visible;
    opacity: 1; 
}
.navbar-logo {
    font-size: 24px;
    margin-right: 10px;
    cursor: pointer;
}
.navbar-title {
    font-size: 30px;
    font-weight: bold;
}
.navbar-center {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}
.navbar-search {
    display: flex;
    align-items: center;
    background-color: #333;
    border-radius: 14px;
    padding: 5px 10px;
}
.navbar-search-icon {
    font-size: 20px;
    margin-right: 0px;
    background-color: #333;
}
.navbar-search-input {
    padding: 8px;
    width: 550px;
    border: none;
    background: none;
    color: #fff;
    outline: none;
}
.navbar-right {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.navbar-icon:hover {
    border-radius: 10px;
    background-color: #333;
}
.navbar-icon { 
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin: 6px;  
    display: flex;
    align-items: center;
  
}
.navbar-right p {
    justify-content: center;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.user{
    padding: 0px;
    font-size: 40px;
    cursor: pointer;
}

.cart-dropdown {
    position: absolute;
    top: 60px;
    width: 250px;
    right: 0;  
    height: 450px;
    background-color: #333;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  .cart-dropdown span{
    display: block;
  }
  .cart-dropdown ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 10px;
  }
  
  .cart-dropdown li {
    margin: 15px 0;
  }
  .cart-dropdown li:hover{
    background-color: #333;
  }
  
/* Navbar.css */
.dark-mode-icon {
    cursor: pointer;
    transition: transform 0.6s;
  }
  
  .dark-mode-icon.flipped {
    transform: rotateY(180deg);
  }
  