.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    background-color: #0E1113;
    color: #fff;
    width: 100%;
    z-index: 100;
    height: 10%;
}

img {
    width: 50px;
    height: 50px;
    background-color: none;
    border-radius: 50px;
    margin-right: 10px;
}

.navbar-left {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.navbar-title-container {
    position: relative;
    display: inline-block;
}

.tooltip {
    visibility: hidden;
    width: auto;
    background-color: blue;
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 8px;
    position: absolute;
    z-index: 1;
    left: 100%;
    bottom: 10%;
    transform: translateX(-50%);
    white-space: nowrap; 
    margin-bottom: 10px;
    opacity: 0;
    transition: opacity 0.3s
}

.navbar-title-container:hover .tooltip {
    visibility: visible;
    opacity: 1; 
}
.navbar-logo {
    font-size: 24px;
    margin-right: 10px;
    cursor: pointer;
}
.navbar-title {
    font-size: 30px;
    font-weight: bold;
}
.navbar-center {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}
.navbar-search {
    display: flex;
    align-items: center;
    background-color: #2A3236;
    border-radius: 14px;
    padding: 5px 8px;
}
.navbar-search-icon {
    font-size: 20px;
    margin-right: 0px;
    background-color: #2A3236;
}
.navbar-search-input {
    padding: 8px;
    width: 550px;
    border: none;
    background: none;
    color: #fff;
    outline: none;
}
.navbar-right {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.navbar-icon { 
    justify-content: center;
    align-items: center;
    font-size: medium;
    margin: 6px;  
    display: inline-flex;
    align-items: center;
    min-width: 35px;
    min-height: 35px;
    padding: 8px;
    border-radius: 100px;
    /* background-color: red; */
  
}
.navbar-icon:hover {
   background-color: #000;
 }

.navbar-right p {
    justify-content: center;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.user{
    padding: 0px;
    font-size: 40px;
    cursor: pointer;
}

.cart-dropdown {
    background-color: #0E1113;
    border-radius: 10px;
    border: 1px solid #333;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 60px; 
    right: 0;  
    width: 250px; 
    z-index: 1;
  }
  
  .cart-dropdown ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .cart-dropdown li {
    display: flex;
    align-items: center;
    padding: 10px 0;
  }
  .cart-dropdown hr {
    border: 0;
    border-top: 1px solid #6d6b6b;
    margin: 10px 0;
  }
  .cart-icon {
    font-size: 20px;
    margin-right: 10px;
  }
  .cart-text {
    display: flex;
    flex-direction: column;
  }
  .cart-text span {
    font-size: 12px;
    color: #777;
  }
.use{
    display: none;
}

  @media (max-width: 768px) {
    .navbar {
        flex-wrap: nowrap;
        padding: 8px 10px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .navbar-right{
        display: none;
    }

    .navbar-left{
        flex: 1 1 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .navbar-title{
        display: none;
        font-size: 14px;
    }
    .use{
        display: block;
        padding: 10px;
        width: 80px;
        border: none;
        margin: 10px;
        background-color: red;
        border-radius: 20px;
    }

    .navbar-search {
        /* display: none; */
        justify-content: center;
        padding: 2px;
    }

    .navbar-search-input {
        display: none;
        flex: 0.4;
        width: 200px;
    }

    .navbar-icon {
        display: none;
        margin: 4px;
        min-width: 30px;
        min-height: 30px;
    }

    .cart-dropdown {
        width: 100%;
        top: auto;
        right: auto;
        left: 0;
        bottom: 0;
    }
}
