* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #0E1113;
}

body {
  height: 100vh;
  background-color: #0E1113;
}

.side-nav {
  width: 257px;
  font-size: small;
  box-shadow: 2px 0px 1px #f4f5fa;
  background-color: black;
  color: white;
  height: 100vh;
  margin-bottom: 100px;
  overflow-y: auto;
  position: fixed;
  left: 0;
  transition: transform 0.3s ease-in-out;

}

.sidenav-btn {
  width: 100%;
  padding: 10px;
}

button {
  background-color: black;
  border: 1px solid gray;
  color: #fff;
  border-radius: 5px;
  width: 100%;
  margin: 5px;
  cursor: pointer;
}

button:hover{
  background-color: #000000;
}
.side-nav hr {
  margin: 1em 0.5em;
  border: 1px solid #fff;
}

.side-nav-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.side-nav-btn button {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  padding: 6px;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  transition: background-color 0.3s, color 0.3s;
}

.side-nav-btn button:hover {
  background-color: #050505;
}

.side-nav-btn button svg {
  margin-right: 50px;
  font-size: 20px;
  margin-bottom: 0px;
  color: #fff;
}

.drop-btn {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.dropdown {
  position: relative;
  justify-content: center;
}

.dropdown button {
  background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 15px;
  color: #fff;
  transition: background-color 0.3s, color 0.3s;
  justify-content: space-around;
}

.dropdown button svg {
  align-items: center;
  text-align: center;
  justify-content: center;
}
.dropdown button:hover {
  background-color: #020202;
}

.copyright {
  padding: 10px;
  text-align: center;
  font-size: 12px;
  color: #aaa;
  text-decoration: underline;
  cursor: pointer;
  margin-top: 120px;
}

.resources {
  display: flex;
  justify-content: flex-start;
  margin-left: 5px;
  width: 100%;
}

.menu-toggle-btn {
  display: none;
}



@media (max-width: 768px) {
   .side-nav{
    position: relative;
    left: -100%;
    display: block;
    top: 100;
    z-index: 5;
    transform: translateX(-100%);
   }

   .side-nav.visible{
    position: fixed;
    top: 100px;
    transform: translateX(0);
   }
   .menu-toggle-btn{
    display: block;
    position:relative;
    z-index: 10;
    left: 0;
    top: 0px;
   }
}
