* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

.side-nav {
  width: 250px;
  font-size: small;
  box-shadow: 2px 0px 1px #f4f5fa;
  background-color: black;
  color: white;
  height: 100vh;
  overflow-y: auto;
  transition: transform 0.3s ease-in-out;
}

.sidenav-btn {
  /* display: flex; */
  /* flex-direction: column; */
  width: 100%;
  padding: 10px;
  /* background-color: red; */
}

button {
  background-color: black;
  border: 1px solid gray;
  color: #fff;
  border-radius: 5px;
  width: 100%;
  margin: 5px;
  cursor: pointer;
}

button:hover{
  background-color: #333;
}
.side-nav hr {
  margin: 1em 0.5em;
  border: 1px solid #333;
}

.side-nav-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.side-nav-btn button {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  padding: 6px;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  transition: background-color 0.3s, color 0.3s;
}

.side-nav-btn button:hover {
  background-color: #333;
}

.side-nav-btn button svg {
  margin-right: 50px;
  font-size: 20px;
  margin-bottom: 0px;
  color: #fff;
}

.drop-btn {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.dropdown {
  position: relative;
  justify-content: center;
}

.dropdown button {
  background: none;
  border: none;
  padding: 10px;
  /* max-width: 200px; */
  cursor: pointer;
  font-size: 15px;
  color: #fff;
  transition: background-color 0.3s, color 0.3s;
  justify-content: space-around;
}

.dropdown button svg {
  align-items: center;
  text-align: center;
  justify-content: center;
}

.dropdown button:hover {
  background-color: #333;
  color: #fff;
  
}

.copyright {
  padding: 10px;
  text-align: center;
  font-size: 12px;
  color: #aaa;
  text-decoration: underline;
  cursor: pointer;
}

.resources {
  display: flex;
  justify-content: flex-start;
  margin-left: 5px;
  width: 100%;
}

.menu-toggle-btn {
  display: none;
}

@media (max-width: 768px) {
  .side-nav {
      transform: translateX(-100%);
      position: fixed;
      left: 0;
      top: 60px;
      width: 200px;
      z-index: 5;
  }
  .side-nav.visible {
      transform: translateX(0);
  }
  .menu-toggle-btn {
      display: block;
      width: 10px;
  }
}
